{% extends "layout.html" %}
{% block content %}

<div class="container bg-white">
<h1 class="text-center pt-3">About</h1>
<p><strong>Yelp Review Analyzer</strong> is for people who are tired of reading hundreds of reviews in Yelp but want to quickly 
    see what people are talking about the restaurants or see if majority of the reviews are more towards negative or positive.</p>
      <p>This application can solve your problems.  This app has a visual chart that show 50 most repeated words in all reveiews, overall sentiment analysis, 
      and popularity.  Moreover, it also translates the reviews for you from English to Spanish, Thai, or Chinese.  I hope you enjoy this application.
</p>
<hr>
<p>Project Name: Yelp Review Analyzer (YRA)</p>
<p>For: CSIT 216 - Python</p>  
<p>Semester: Spring 2019, CCBC</p>
<p>Professor: Dr. James Braman</p>
</div>

{% endblock %}