{% extends "layout.html" %} {% block content %}

<div
  class="container bg-white d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="text-center pt-3">Contact</h1>
  <h4>Developer: Bay Chairangsaris</h4>

  <a href="https://github.com/BayLadyCoder">
    <img src="/static/img/bay.jpg" id="BayImg" alt="BayLadyCoder" />
    <p class="text-center">BayLadyCoder</p></a
  >
  <a href="https://www.linkedin.com/in/bayladycoder/">LinkedIn</a>
  <a href="https://github.com/BayLadyCoder">GitHub</a>
  <a href="https://bayladycoder.github.io">Portfolio</a>
</div>

{% endblock %}
