{% extends "layout.html" %} {% block content %}

<form method="POST" id="searchForm" action="/restaurants">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.find.label(class="form-control-label") }} {% if form.find.errors %}
    {{ form.find(class="form-control is-invalid", placeholder="Ex. sushi,
    burgers, pizzas") }}
    <div class="invalid-feedback">
      * Required (at least 2 characters long) *
    </div>
    {% else %} {{ form.find(class="form-control", id="find", placeholder="Ex.
    sushi, burgers, pizzas") }} {% endif %}
  </div>

  <div class="form-group">
    {{ form.near.label(class="form-control-label") }} {% if form.near.errors %}
    {{ form.near(class="form-control is-invalid", placeholder="Ex. Baltimore,
    Catonsville, Owings Mills") }}
    <div class="invalid-feedback">
      * Required (at least 2 characters long) *
    </div>
    {% else %} {{ form.near(class="form-control", id="near", placeholder="Ex.
    Baltimore, Catonsville, Owings Mills") }} {% endif %}
  </div>
  {{ form.submit(class="btn my-2", id="searchBtn", type="submit") }}

  <p style="color: #fff" id="loading-message"></p>
  <span class="sm-loader"></span>
</form>

<script>
  const submitSearchBtn = document.querySelector('#searchBtn');
  const searchForm = document.querySelector('#searchForm');
  const loadingMessage = document.querySelector('#loading-message');
  const smLoader = document.querySelector('.sm-loader');

  submitSearchBtn.addEventListener('click', () => {
    const find = searchForm.find.value;
    const near = searchForm.near.value;
    if (
      !find ||
      !near ||
      find.length < 2 ||
      near.length < 2 ||
      searchForm.find.errors ||
      searchForm.near.errors
    ) {
      return;
    }

    smLoader.style.display = 'block';
    submitSearchBtn.style.display = 'none';
    loadingMessage.textContent = `Loading ${find} restaurants in ${near}`;
  });
</script>

{% endblock %}
