{% extends "layout.html" %}
{% block content %}


<!-- <ol>
    {% for review in reviews %}
    <li>{{ review }}</li>
    {% endfor %}
</ol> -->
<form method="POST" id="searchForm">
  <div class="form-group">
      <label for="find">What kind of food are you looking for?</label>
      <input type="text" class="form-control" name="find"  id="find" placeholder="Ex. sushi, burgers, pizzas" required>
      <div class="invalid-feedback">* Required *</div>
    </div>
 
  <div class="form-group">
      <label for="near">Location?</label>
      <input type="text" class="form-control" name="near" id="near" placeholder="Ex. Baltimore, Catonsville, Owings Mills" required>
      <div class="invalid-feedback">* Required *</div>  
  </div>
  <button type="submit" id="searchBtn" class="btn my-2">
    <!-- <a href="/search-again" class="text-center">Search</a> --> Search
  </button>

</form>



{% endblock %}