{% extends "layout.html" %}
{% block content %}


<!-- <ol>
    {% for review in reviews %}
    <li>{{ review }}</li>
    {% endfor %}
</ol> -->
<form method="POST" class="mt-4">
  <div class="form-group">
    <label for="find">What kind of food you are looking for?</label>
    <input type="text" class="form-control" name="find" id="find" placeholder="Example: sushi, burgers, pizzas">
  </div>
    <div class="form-group">

    <label for="near">Location?</label>
    <input type="text" class="form-control" name="near" id="near" placeholder="Example: Baltimore, Catonsville, Owings Mills">
  </div>
  <button style="background:rgb(110, 12, 201); border-color: rgb(110, 12, 201)" type="submit" class="btn btn-primary mb-2">
    <a href="/search-again" class="text-white">Search</a>
    
  </button>

</form>
</form>


{% endblock %}