{% extends "layout.html" %} {% block content %}

<div
  class="main-content d-flex justify-content-center align-items-center flex-column"
>
  {% if find and near %}
  <div class="find-near py-1">
    <p class="text-center">Find: {{find}}</p>
    <p class="text-center">Near: {{near}}</p>
  </div>
  {% endif %}

  <ul class="content row px-4 pt-1">
    {% for restaurant in restaurants %}
    <li class="col-12 text-white list">
      <!-- <a class="list d-flex justify-content-between" href="/reviews?url={{url}}" data-link="{{url}}" onclick="sendLink(this)"> -->
      <a
        class="list d-flex justify-content-between"
        href="/reviews?url={{restaurant.link}}&name={{restaurant.name}}"
        target="_blank"
      >
        <span class="nameList" id="theName">{{restaurant.name}}</span>
        <span class="reviewList">
          {% if restaurant.review_counts <= 1 %} {{restaurant.review_counts}}
          review {% else %} {{restaurant.review_counts}} reviews {% endif %}
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>

  <div
    class="d-flex justify-content-center mt-4 mb-5 flex-column align-items-center"
  >
    <a href="/" id="search-again-button">< Back to search</a>
  </div>
</div>

{% endblock %}
